<%- include header %>
<div class="hd">
    <h1 class="page_title">快递帮帮取</h1>
</div>
<div class="bd">
    <div class="weui_panel weui_panel_access">
        <div class="weui_panel_bd">
         	<% result.forEach(function (msg,index) { %>
            <a href="/list?id=<%= msg.id %>" class="weui_media_box weui_media_appmsg">
                <div class="weui_media_hd">
                    <img class="photo" src="<%= msg.img %>" alt="">
                </div>
                <div class="weui_media_bd">
                    <p class="weui_media_desc">
                    	<%= msg.address %> <%= msg.company %> <%= msg.usrname %> <%= msg.telephone %>
                    </p>
                </div>
            </a>
            	<% }) %>
        </div>
        <a class="weui_panel_ft" href="/listall">查看更多</a>
    </div>
<%- include footer%>
